language: android
sudo: false
android:
  components:
  - build-tools-28.0.2
  - android-28
  - extra-android-m2repository
  - extra-android-support
before_script:
- chmod +x gradlew
script:
- "./gradlew assembleRelease"
before_install:
- openssl aes-256-cbc -K $encrypted_426e7ed2a2a0_key -iv $encrypted_426e7ed2a2a0_iv
  -in ss0c.jks.enc -out app/ss0c.jks -d
